.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-pic{
    width: 80vw;
    height:20vh;
    background-size: cover;
    background-position: center;
}
.project-item{
    margin:1em;
    
}
@media (min-width: 570px){
    .project-pic{
        width:40vw;
        height:30vh;
    }


}