@import "../../utilities/variables";
#myWork{
    background-color:$main-black;
    justify-content: space-around;
    color:$white

}

#myWork .title{
    color:$white

}

.select-project{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}