@import "../../utilities/variables";

#header{
    background-color:$main-black;
    color:$white;
}
.dark-mode-toggle{
    position:absolute;
    top:10px;

    align-self: flex-end;
}
.header-picto{
    font-size:4em;
    margin:0;
}
.header-headline{
    text-align:center;
}
.header-social{
    display:flex;
    margin:1em;
    width:80%;
    justify-content:space-around;
    align-items: center;
}
.scroll-button{
    display:flex;
    flex-direction: column;
}